@model ProductWebMVC.Models.Product
@{
    ViewData["Title"] = "Product Homepage";
}
<h2>Welcome to the Products Section</h2>
<ul>
    @foreach(var item in (List<Product>)ViewData["products"])
    {
        <li>@item.GetText()</li>
    }
</ul>
